@using QuanLyTruongMauGiao.Models
@{
    ViewBag.Title = "ProfileAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var account = Session["user"] as TAIKHOAN;
    QLMauGiao db = new QLMauGiao();
    var user = (from item in db.GIAOVIENs where item.TenTK == account.TenTK select item).FirstOrDefault();
}


<script>
    var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

<h2>Thông tin giáo viên @user.TenGV</h2>

@using (Html.BeginForm("EditAdmin", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input id="MaGV" name="MaGV" class="form-control" type="text" value="@user.MaGV" hidden="hidden" />

    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Họ tên</label>
            <div class="col-md-10">
                <input id="TenGV" name="TenGV" class="form-control" type="text" value="@user.TenGV" disabled="disabled" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tài khoản</label>
            <div class="col-md-10">
                <input id="TenTK" name="TenTK" class="form-control" type="text" value="@user.TenTK" disabled="disabled" />
                <a href="/Home/ChangePassword">Đổi mật khẩu</a>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Ngày sinh
            </label>
            <div class="col-md-10">
                @user.NgaySinh.ToString("dd-MM-yyyy")
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Giới tính
            </label>
            <div class="col-md-10">

                @if (user.GioiTinh)
                {
                    <input class="form-control" type="text" value="Nam" disabled="disabled" />
                }
                else
                {
                    <input class="form-control" type="text" value="Nữ" disabled="disabled" />
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Quê quán
            </label>
            <div class="col-md-10">
                <input class="form-control" type="text" value="@user.QueQuan" disabled="disabled" />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Loại hợp đồng
            </label>
            <div class="col-md-10">
                <input class="form-control" type="text" value="@user.LoaiHopDong" disabled="disabled" />


            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Kinh nghiệm
            </label>
            <div class="col-md-10">
                <input class="form-control" type="text" value="@user.KinhNghiem" disabled="disabled" />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Trình độ
            </label>
            <div class="col-md-10">
                <input class="form-control" type="text" value="@user.TrinhDo" disabled="disabled" />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Chuyên ngành
            </label>
            <div class="col-md-10">
                <input class="form-control" type="text" value="@user.ChuyenNganh" disabled="disabled" />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Loại tốt nghiệp

            </label>
            <div class="col-md-10">
                <input class="form-control" type="text" value="@user.LoaiTotNghiep" disabled="disabled" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Số điện thoại</label>
            <div class="col-md-10">
                <input id="DienThoai" name="DienThoai" class="form-control" type="tel" pattern="[0-9]{7,}" value="@user.DienThoai" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                <input id="Email" name="Email" class="form-control" type="email" value="@user.Email" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Ảnh đại diện</label>
            <div class="col-md-10">
                <input type="file" id="inputimg" name="inputimg" onchange="loadFile(event)" />
                <br />
                <img id="output" alt="anh" width="200" height="200" src="~/Image/Profile/@account.AnhDaiDien" />

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <label><a href="/home/homepage">Quay lại</a></label>
</div>
