@model IEnumerable<QuanLyTruongMauGiao.Models.PHIEUDANHGIA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GIAOVIEN.TenGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRE.MaLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamHoc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GIAOVIEN.TenGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRE.MaLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamHoc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieu }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieu })
        </td>
    </tr>
}

</table>
