@model PagedList.IPagedList<QuanLyTruongMauGiao.Models.THONGBAO>
@using PagedList.Mvc;
<style>
    .anh {
        width: 100px;
        height: 100px;
    }

    .pagination > li > a {
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        border: 1px solid #ddd;
    }

    .pagination > .active a {
        background-color: #337ab7;
        color: #fff;
    }

    .pagination li:hover {
        background-color: #687fff;
    }

    .pagination li a:hover {
        color: #fff;
    }
    .blue1_color {
        color: #2196f3 !important;
    }

    .icon_link {
        font-size: 20px;
    }

    .green_color {
        color: #009688 !important;
    }

    .red_color {
        color: #e91e63 !important;
    }

    .yellow_color {
        color: #ff9800 !important;
    }
</style>

<div class="ibox" id="ThongBaoList">
    <div class="ibox-head">
        <div class="ibox-title">
            <button type="button" class="btn btn-outline-success" data-toggle="modal"><a href="/ThongBao/Create" style="color: blue"> <i class="fa fa-plus-circle yellow_color"></i> Thêm mới</a></button>
        </div>
    </div>
    <div class="ibox-body">
        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã thông báo</th>
                    <th>Tên thông báo</th>
                    <th>Nội dung</th>
                    <th>Ngày tạo</th>
                    <th></th>
                </tr>
            </thead>
            @{
                int stt = 0;
            }
            <tbody>
                @foreach (var item in Model)
                {
                    stt++;
                <tr>
                    <td>
                        @stt
                    </td>
                    <td>
                        @item.MaTB
                    </td>
                    <td>
                        @item.TenTB
                    </td>
                    <td>
                        @item.NoiDung
                    </td>
                    <td>
                        @item.NgayTB.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        <a href="/ThongBao/Edit/@item.MaTB"> <i class="fa fa-wrench blue1_color icon_link"></i></a> |
                        <a href="/ThongBao/Details/@item.MaTB"> <i class="fa fa-info-circle green_color icon_link"></i> </a> |
                        <a href="/ThongBao/Delete/@item.MaTB"> <i class="fa fa-trash-o red_color icon_link"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                Trang @(Model.PageCount < Model.PageNumber ?0:Model.PageNumber)/@Model.PageCount
            </div>
            <div class="page">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                 new PagedListRenderOptions
                      {
                    LinkToFirstPageFormat = "<<",
                    LinkToPreviousPageFormat = "<",
                    LinkToNextPageFormat = ">",
                    LinkToLastPageFormat = ">>",
                    MaximumPageNumbersToDisplay = 10,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = false
                 })
            </div>
        </div>
    </div>

</div>
