@model PagedList.IPagedList<QuanLyTruongMauGiao.Models.TRE>
@using PagedList.Mvc;
@using QuanLyTruongMauGiao.Models
@{
    ViewBag.Title = "DanhSachDanhGia";
    Layout = "~/Views/Shared/LayoutGV.cshtml";

}

<style>
    .anh {
        width: 100px;
        height: 100px;
    }

    .pagination > li > a {
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        border: 1px solid #ddd;
    }

    .pagination > .active a {
        background-color: #337ab7;
        color: #fff;
    }

    .pagination li:hover {
        background-color: #687fff;
    }

    .pagination li a:hover {
        color: #fff;
    }
</style>

<h2>Danh sách trẻ lớp @ViewBag.Lop</h2>
<div class="ibox">
    <div class="ibox-head">
    </div>
    <div class="ibox-body">
        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã trẻ</th>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Quê quán</th>
                    <th>Ngày nhập học</th>
                    <th>Phụ huynh</th>
                    <th>Ảnh</th>
                </tr>
            </thead>
            @{
                int stt = 0;
            }
            <tbody>
                @foreach (var item in Model)
                {
                    stt++;
                    <tr>
                        <td>
                            @stt
                        </td>
                        <td>
                            @item.MaTre
                        </td>
                        <td>
                            @item.TenTre
                        </td>
                        <td>
                            @item.NgaySinh.ToString("dd-MM-yyyy")
                        </td>
                        @{
                            if (item.GioiTinh)
                            {
                                <td>Nam</td>
                            }
                            else
                            {
                                <td>Nữ</td>
                            }
                        }
                        <td>
                            @item.QueQuan
                        </td>
                        <td>
                            @item.NgayNhapHoc.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @item.PHUHUYNH.TenPH
                        </td>
                        <td>
                            <img class="anh" src="~/Image/Tre/@item.Anh" />
                        </td>
                        <td>
                            @Html.ActionLink("Đánh giá", "DanhGiaTre", new { id = item.MaTre })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div class="row">
    <div class="col-sm-12 col-md-5">
        Trang @(Model.PageCount < Model.PageNumber ?0:Model.PageNumber)/@Model.PageCount
    </div>
    <div class="page">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
         new PagedListRenderOptions
              {
            LinkToFirstPageFormat = "<<",
            LinkToPreviousPageFormat = "<",
            LinkToNextPageFormat = ">",
            LinkToLastPageFormat = ">>",
            MaximumPageNumbersToDisplay = 10,
            DisplayEllipsesWhenNotShowingAllPageNumbers = false
         })
    </div>
</div>
