@model IEnumerable<QuanLyTruongMauGiao.Models.NOIDUNGDANHGIA>
@using PagedList.Mvc;
@using QuanLyTruongMauGiao.Models

@{
    ViewBag.Title = "DanhGiaTre";
    Layout = "~/Views/Shared/LayoutGV.cshtml";
    GIAOVIEN gv = ViewBag.GiaoVien as GIAOVIEN;
    TRE tre = ViewBag.Tre as TRE;
    PHANCONGGIAOVIEN lop = ViewBag.Lop as PHANCONGGIAOVIEN;
    QLMauGiao db = new QLMauGiao();
    string namHoc = DateTime.Now.Year.ToString();
    var phieuDG = from phieu in db.PHIEUDANHGIAs
                  join ketquaDG in db.KETQUADANHGIAs on phieu.MaPhieu equals ketquaDG.MaPhieu
                  join noidungDG in db.NOIDUNGDANHGIAs on ketquaDG.MaNDDG equals noidungDG.MaNDDG
                  where phieu.MaTre == tre.MaTre && phieu.NamHoc == namHoc && phieu.NgayTao.Month == DateTime.Now.Month
                  select new
                  {
                      MaPhieu = phieu.MaPhieu,
                      MaNDDG = ketquaDG.MaNDDG,
                      NoiDungDanhGia = noidungDG.NoiDungDanhGia1,
                      KetQua = ketquaDG.KetQua
                  };
    List<String> kqDG = new List<String>();
    foreach(var item in phieuDG.ToList())
    {
        kqDG.Add(item.MaNDDG);
    }
    string thang = DateTime.Now.Month.ToString();
}
<style>
    input:read-only {
        background-color: #f1f1f1;
    }
</style>
@using (Html.BeginForm("DanhGiaTre", "ChucNangGiaoVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-md-6" style="flex: 0 0 80%; max-width: 80%;">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">PHIẾU ĐÁNH GIÁ SỰ PHÁT TRIỂN CỦA TRẺ THÁNG @thang</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="padding-top: 0">Họ tên trẻ: </label>
                            <div class="col-sm-10">
                                <input type="text" id="MaTre" name="MaTre" value="@tre.MaTre" hidden />
                                <input type="text" id="TenTre" name="TenTre" value="@tre.TenTre" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="padding-top: 0">Lớp: </label>
                            <div class="col-sm-10">
                                <input type="text" id="TenLop" name="TenLop" value="@lop.LOP.TenLop" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="padding-top: 0">Giáo viên: </label>
                            <div class="col-sm-10">
                                <input type="text" id="MaGV" name="MaGV" value="@gv.MaGV" hidden />
                                <input type="text" id="TenGV" name="TenGV" value="@gv.TenGV" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="padding-top: 0">Ngày tạo:</label>
                            <div class="col-sm-10">
                                @DateTime.Now.ToString("dd-MM-yyyy")
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" style="padding-top: 0">Năm học</label>
                            <div class="col-sm-10">
                                @DateTime.Now.Year
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" id="detailsTable">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Nội dung chỉ số</th>
                                    <th>Đạt</th>
                                    <th>Chưa đạt</th>
                                </tr>
                            </thead>
                            @{
                                int stt = 0;
                            }
                            <tbody>
                                 @foreach (var item in Model)
                                 {
                                        stt++;
                                    <tr>
                                        <td>
                                            @stt
                                        </td>
                                        <td hidden>
                                            @item.MaNDDG
                                        </td>
                                        <td>
                                            @item.NoiDungDanhGia1
                                        </td>
                                        @{
                                            var result = phieuDG.Where(x => x.MaNDDG == item.MaNDDG).FirstOrDefault();
                                            if (result != null && result.KetQua == false)
                                            {
                                                <td>
                                                    <input type="radio" value="true" id="@stt" name="@stt" />
                                                </td>
                                                <td>
                                                    <input type="radio" value="false" id="@stt" name="@stt" checked="checked" />
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <input type="radio" value="true" id="@stt" name="@stt" checked="checked" />
                                                </td>
                                                <td>
                                                    <input type="radio" id="@stt" name="@stt" value="false" />
                                                </td>
                                            }
                                        }
                                    </tr>
                                 }

                            </tbody>
                        </table>
                        <div class="form-group row" style="padding-top: 10px">
                            <p>
                                <button type="button" class="btn btn-info" id="Luu" style="margin-left:400px">Lưu</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Quay lại", "DanhSachDanhGia")
    </p>
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {                         

                            function create(data) {
                                return $.ajax({
                                    contentType: 'application/json; charset=utf-8',
                                    dataType: 'json',
                                    type: 'POST',
                                    url: "/ChucNangGiaoVien/DanhGiaTre",
                                    data: data,
                                    success: function (result) {
                                        alert(result);
                                        /*window.location.href = "/ThuTien/Index";*/
                                        location.reload();
                                    },
                                    error: function (data, errorThrown) {
                                        alert('request failed :' + errorThrown);
                                    }
                                });
                            }


                                //Thêm
                                $("#Luu").click(function (e) {
                                    e.preventDefault();

                                    var KetQuaDGArr = new Array();

                                    $.each($("#detailsTable tbody tr"), function () {
                                        /*var MaPhieu = $("#MaPhieu").val();*/
                                        var MaNDDG = $.trim($(this).find("td").eq(1).html());
                                        var nameRadio = $.trim($(this).find("td").eq(0).html());
                                        var select = $("input[name="+nameRadio+"]:checked").val();

                                        var KetQuaDGOne = {};
                                        KetQuaDGOne.MaNDDG = MaNDDG;
                                        KetQuaDGOne.select = select;
                                        KetQuaDGArr.push(KetQuaDGOne);
                                    });
                                    var data = JSON.stringify({
                                        /*maPhieu: $("#MaPhieu").val(),*/
                                        maTre: $("#MaTre").val(),
                                        maGV: $("#MaGV").val(),
                                        KetQuaDG: KetQuaDGArr
                                    });
                                    $.when(create(data)).then(function (response) {
                                        console.log(response);
                                    }).fail(function (err) {
                                        console.log(err);
                                    });
                                });
    });
</script>


